@model Sandbox.Models.PurchaseOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VendorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
